In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("./surname_data/nachnamen_deutsch", 
                   delim_whitespace=True, 
                   names=("surname", "value"), 
                   on_bad_lines='skip',
                   dtype={'surname': str, 'value': np.int64})
df = df.drop("value", axis=1)
df

        surname
0        Müller
1       Schmidt
2     Schneider
3       Fischer
4         Weber
...         ...
3416    Raupach
3417   Hinzmann
3418   Henrichs
3419   Forstner
3420       Dose

[3421 rows x 1 columns]

In [3]:
df.to_csv('./surname_data/surnames.csv',index=False)