In [5]:
import sys, re, pandas as pd
import numpy as np

In [6]:
df = pd.read_table("./name_generator/nachnamen_deutsch", 
                   delim_whitespace=True, 
                   names=("surname", "value"), 
                   on_bad_lines='skip',
                   dtype={'surname': str, 'value': np.int64})
df

        surname   value
0        Müller  265025
1       Schmidt  193708
2     Schneider  120975
3       Fischer  101639
4         Weber   90297
...         ...     ...
3416    Raupach    1000
3417   Hinzmann    1000
3418   Henrichs    1000
3419   Forstner    1000
3420       Dose    1000

[3421 rows x 2 columns]